.size-a4{
min-width: 6.2in;
min-height: 8.2in;
font-size: small;
max-width: 100%;
overflow-x: hidden;
font-family:'Times New Roman', Times, serif;
}
.pdf-page{
  position: relative;
  margin: 0 auto;
  padding: .4in .3in;
  color: rgb(0, 0, 0);
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
  box-sizing: border-box;
}

.button {
  display: none; /* Hide button */
}

.divbutton:hover .button {
   display: block; /* On :hover of div show button */
}